<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/user_dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/Admin/admin_dashboard">
                    <span>
                        Blogs
                    </span>
                </a>
            </li>
            <li>
                <a href="/admin-sign-up">
                    <span>
                        My Blogs
                    </span>
                </a>
            </li>
        </ul>
        <div class="log-out">
            <a href="/log-out">
                <span>
                    Log Out
                </span>
            </a>
        </div>
    </nav>
    <h1>USER DASHBOARD</h1>
</body>
</html>