<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/admin_signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign In</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/Admin/admin_dashboard?page=1">
                    <span>
                        All Users
                    </span>
                </a>
            </li>
            <li>
                <a href="/admin-sign-up">
                    <span>
                        New User
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <div id="sign-up-container">
        <div id="sign-up-fields">
            <form action="/User/sign-up" method="POST">
                <h2>Sign up</h2>
                <div class="form-fields">
                    <input type="text" name="name" class="inputs" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-fields">
                    <input type="email" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-fields">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-fields">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
                </div>
                <div class="form-fields-submit">
                    <button type="submit">
                        <span>SIGN UP</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>