<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user_dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/User/user_dashboard?page=1">
                    <span>
                        Blogs
                    </span>
                </a>
            </li>
            <li>
                <a href="/User/new_blog">
                    <span>
                        New Blog
                    </span>
                </a>
            </li>
            <li>
                <a href="/User/my_blogs?page=1">
                    <span>
                        My Blogs
                    </span>
                </a>
            </li>
        </ul>
        <div class="log-out">
            <a href="/log-out">
                <span>
                    Log Out
                </span>
            </a>
        </div>
    </nav>

</body>
</html>

