*{
    margin: 0;
}

nav{
    width: 100%;
    height: 10vh;
    background-color: DodgerBlue;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li{
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 20px;
}

nav ul li a{
  text-decoration: none;
} 

nav ul li a:hover{
    text-decoration: none;
}

nav ul li a span{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.log-out {
    float: right;
    margin-top: -45px;
    margin-right: 70px;
}

.log-out a {
    text-decoration: none;
}

.log-out a span{
    font-size: 20px;
    font-weight: 600;
    color: white;
}


.add{
  width: 20%;
  margin: 25px auto;
}

#add-cat{
  padding: 5px;
  font-size: 17px;
}

.btn {
  border: none;
  color: white;
  background-color: DodgerBlue;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  margin-top: -5px;
}

.table-btn{
  cursor: pointer;
  border: none;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: DodgerBlue;
    color: white;
  }

  .center {
    margin: 20px 45%;
  }
  
  .pagination {
    display: inline-block;
    margin-top: 25px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid black;
    margin: 0 4px;
    font-weight: bold;
  }
  
  .active {
    background-color: DodgerBlue;
    color: white;
    border: 1px solid DodgerBlue;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .no-blog {
    color: red;
    margin: 20px 0 0 50px;
  }

 